In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
dataset=['a','e','i','o','u']
df=pd.DataFrame(dataset,columns=['vowels'],index=['A','B','C','D','E'])
print (df)

  vowels
A      a
B      e
C      i
D      o
E      u

In [6]:
import pandas as pd
data = {'Name':['Ram', 'Shyam', 'Harry', 'Joy'],'Salary':[280000,340000,290000,420000]}
df = pd.DataFrame(data)
print (df)

    Name  Salary
0    Ram  280000
1  Shyam  340000
2  Harry  290000
3    Joy  420000

In [7]:
iter_obj = ('mercury','venus','earth','mars','neptune','uranus','jupiter','saturn')
myitr=iter(iter_obj)
print(next(myitr))
print(next(myitr))
print(next(myitr))
print(next(myitr))
print(next(myitr))
print(next(myitr))
print(next(myitr))
print(next(myitr))

mercury
venus
earth
mars
neptune
uranus
jupiter
saturn

In [9]:
l=[i*i for i in range(0,10) if i%2==0]
print (l)

[0, 4, 16, 36, 64]

In [10]:
def fun1(a, b):
  return a + b
sum_ = map(fun1, (1,2,3),(4,5,6)) 
print(list(sum_))

[5, 7, 9]