In [5]:
import numpy as np
import pandas as pd
data_set=pd.read_csv("D://Assignment5.csv ",names =['Employee','Boss'])

In [6]:
data_set

  Employee   Boss
0      Ram  Shyam
1    Shyam  Harry
2    Harry   Lucy
3     Lucy   Shiv
4     Shiv   Shiv
5     Jake   Hana
6     Hana  Beast
7    Beast  Beast
8    Shady  Shady
9      Nox    Nox

In [14]:
for i in range(data_set.Employee.count()):
    l=[]
    l.append(data_set.Employee[i])
    for j in range(i,data_set.Employee.count()): 
        if(data_set.Employee[j]!=data_set.Boss[j]):
            l.append(data_set.Boss[j])
        else:
            break
    print(*l)

Ram Shyam Harry Lucy Shiv
Shyam Harry Lucy Shiv
Harry Lucy Shiv
Lucy Shiv
Shiv
Jake Hana Beast
Hana Beast
Beast
Shady
Nox